.carousel-stylee{
     justify-content: center; 
    /* padding-top: 100px;
    padding-right: 100px;
    padding-left: 100px; */
}
.slider-containerr{
    padding-top: 100px;
    padding-left: 220px;
}
h1{
    text-align: center;
}
