.ant-menu-overflow-item ant-menu-item ant-menu-item-only-child{
    padding-left: 100px;
}
.navbar navbar-expand-lg{
    padding-left: 100px;
    margin-left: 100px;
}
.ant-menu-overflow-item ant-menu-item ant-menu-item-active ant-menu-item-selected ant-menu-item-only-child{
    padding-left: 100px;
    padding-top: 100px;
    margin-left: 100px;
}
.pp{
    margin-top: 20px;
    margin-right: 20px;
}
.d-flex{
    margin-top: 10px;
    margin-left: 2px;
    height: 60%;
    margin-right: 300px;
    
}

.images{
    margin-left: 200px;
    height:400%;
}
.find{
    margin-top: 20px;
    margin-right:600px;
}
.space{
    padding-bottom: 40px;
}
.slick-slide{
    margin-top: 1px;
    padding-bottom: 12px;
    height: 1500%;
}
.assign{
    padding-bottom: 6px;
}
.ant-layout-content{
    background-image: 'https://t4.ftcdn.net/jpg/04/11/36/09/360_F_411360907_DSTo6QdMQwerRhtmUjyg0FOGj4g4kveo.jpg';
}
.btn-outline-success{
    margin-top:0px;
    margin-right: 20px;
}
.ant-layout css-dev-only-do-not-override-1i536d8{
    background-image: 'https://t4.ftcdn.net/jpg/04/11/36/09/360_F_411360907_DSTo6QdMQwerRhtmUjyg0FOGj4g4kveo.jpg';
    color:black; 
}
.KM{
    color:white;
}