.ant-menu-overflow-item ant-menu-item ant-menu-item-only-child{
    padding-left: 100px;
}
.navbar navbar-expand-lg{
    padding-left: 100px;
    margin-left: 100px;
}
.ant-menu-overflow-item ant-menu-item ant-menu-item-active ant-menu-item-selected ant-menu-item-only-child{
    padding-left: 100px;
    padding-top: 100px;
    margin-left: 100px;
}
.pp{
    margin-top: 20px;
    margin-right: 20px;
}
.d-flex{
    margin-top: 10px;
    margin-left: 620px;
    height: 60%;
}
.flex{
    margin-left:48px;
}
.find{
    margin-top: 20px;
    margin-right:600px;
}
.space{
    padding-bottom: 40px;
}
.slick-slide{
    margin-top: 1px;
    padding-bottom: 12px;
}
.photos{
    margin-left: 200px;
    width: 100%;
    height: 100%;
    
}
.carousel-style {
    height: 100%;
}
 